*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
}
HTML, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td {
    font-family:”Microsoft YaHei”,Arial,Helvetica,sans-serif,”宋体”;:"微软雅黑","黑体","宋体";
}
